#main-nav .social {
  display: none;
}
#main-nav .logo {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#articles .articles-container > *:first-child,
#articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

#show-case .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-footer a {
  font-size: 1.2rem;
}

#main-footer .footer-container {
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  font-size: 1.2rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1;
  padding: 0.5rem;
  font-size: 1.2rem;
}

#main-footer .footer-container > *:first-child {
  grid-column: 1;
  padding: 1rem;
  text-align: center;
}
#main-footer .footer-container > *:first-child > h2 {
  font-size: 2rem;
}

#main-footer .footer-container input[type='email'] {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
#main-footer .footer-container > *:nth-child(3) {
  margin: auto;
  width: 100%;
}

#main-footer .footer-container input[type='submit'] {
  font-size: 1.2rem;
}
#main-footer .footer-container > div > h3 {
  font-size: 1.5rem;
}
#main-footer .footer-container > div > p {
  font-size: 1.2rem;
}
#main-footer .footer-container > * {
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  #show-case .showcase-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #articles .articles-container {
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  #main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #main-footer a {
    font-size: 1rem;
  }

  #main-footer .footer-container {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    font-size: 1rem;
  }

  #main-footer .footer-container > *:last-child {
    padding: 0.5rem;
    font-size: 1rem;
  }

  #main-footer .footer-container > *:first-child {
    padding: 1rem;
    text-align: center;
    border-bottom: #444 dotted 1px;
  }
  #main-footer .footer-container > *:first-child > h2 {
    font-size: 1.5rem;
  }

  #main-footer .footer-container input[type='email'] {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #main-footer .footer-container > *:nth-child(2) {
    border-bottom: #444 dotted 1px;
  }

  #main-footer .footer-container input[type='submit'] {
    font-size: 1rem;
  }
  #main-footer .footer-container > div > h3 {
    font-size: 1.3rem;
  }
  #main-footer .footer-container > div > p {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .grid-container > *:first-child {
    grid-row: 1;
  }
}
