* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  margin-bottom: 0.55rem;
  line-height: 1.3;
  font-size: 2rem;
}
p {
  font-family: var(--primary-font);
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
