#main-nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
  height: 140px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
  text-align: center;
}
#main-nav ul a {
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1.5rem;
}
#main-nav ul a.current {
  background: var(--primary-color);
  color: white;
}
#main-nav ul a:hover {
  color: var(--dark-color);
  background: var(--light-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #686767;
  margin-right: 1rem;
}
